/* ==UserStyle==
@name           Osca dark
@namespace      github.com/openstyles/stylus
@version        0.1.0
@description    Dark Theme for osca.hs-osnabrueck.de
@author         ARandomSpark
==/UserStyle== */

@-moz-document domain("osca.hs-osnabrueck.de") {
	/* General */
	body {
		background-color: #282828;
		color: #aeaeae;
	}
	
	hr, div {
		border-color: #474747 !important;
		color: #aeaeae !important;
	}
	
	#s4-workspace {
		background: none;
	}
	
	/* Lines */
	td, th {
		border-color: #474747 !important;
	}
	
	/* Topmenu */
	#UserMenu_All_SubNavigation {
		background-color: #282828;
		color: #aeaeae;
	}

	#UserMenu_All_Header {
		background-color: #474747 !important;
	}

	a.owncss_BenutzerMenue_Links {
		color: #aeaeae !important;
	}
	
	#Benutzermenue_HoverUser {
		background-color: #282828 !important;
		color: #aeaeae !important;
		border-color: #474747 !important;
	}
	
	/* Meine Veranstaltungen > Suchfeld */
	#input_suchfeld_semester {
		background-color: #474747;
		color: #aeaeae;
		border-color: #474747 !important;
	}
}

@-moz-document domain("login.hs-osnabrueck.de") {
	/* General */
    body, div {
        background-color: #282828 !important;
    }
	
	/* Input */
	#hsos_username, #hsos_password {
		background-color: #474747 !important;
	}
	
	input[type="text"], input[type="password"] {
		color: #aeaeae;
		background-color: #474747;
	}
	
	tr > td > div.cardDetail {
		background-color: #282828 !important;
	}
	
	tbody > tr > td > div#content {
		background-color: #282828 !important;
	}
	
	table {
		background-color: #282828;
	}
}
@-moz-document url-prefix("http://home.edvsz.hs-osnabrueck.de/skleuker/") {
	body {
		background-color: #282828;
		color: #aeaeae;
	}
	
	a {
		background-color: #474747;
		color: #aeaeae;
	}
}

@-moz-document url-prefix("https://osca.hs-osnabrueck.de/NavPages/topbar_studenplan.aspx") {
	
	table.nb > tbody > tr.tbsubhead {
		background-color: #282828 !important;
	}

	.weekday {
		background-color: #282828;
	}

	.nb > caption:nth-child(1) {
		background: none !important;
		background-color: #282828;
	}

	.tbtime12 {
		background-color: #353535 !important;
	}

	table.nb > tbody > tr > td.appointment {
		background-color: #282828 !important;
	}

	select {
		background-color: #353535;
		color: #aeaeae !important;
	}

	option {
		color: #aeaeae !important;
	}
}

@-moz-document url-prefix("https://osca.hs-osnabrueck.de/NavPages/klausur_und_semesterzeitplaene.aspx") {
	th {
		background-color: #474747 !important;
		color: #aeaeae !important;
	}
}

@-moz-document url-prefix("https://osca.hs-osnabrueck.de/NavPages/studium_veranstaltungsanmeldung.aspx") {
	.tbhead > td {
		background-color: #474747 !important;
	}
	
	.tbsubhead > td {
		background-color: #353535 !important;
		color: #aeaeae !important;
	}
}

@-moz-document url-prefix("https://osca.hs-osnabrueck.de/NavPages/studium_pruefungsanmeldung.aspx") {
	div.tb > div > div.tbsubhead {
		background-color: #474747 !important;
	}
}

@-moz-document url-prefix("https://osca.hs-osnabrueck.de/NavPages/studium.aspx") {
	.owncss_studinfos_tdheader {
		background-color: #474747 !important;
	}
	
	.owncss_studinfos_tdbody {
		border-color: #00598b !important;
	}
}

@-moz-document url-prefix("https://osca.hs-osnabrueck.de/NavPages/studium_ergebnisuebersicht.aspx") {
	table.nb.list.students_results > thead > tr.tbsubhead > th {
		background-color: #353535 !important;
		color: #aeaeae;
	}
	
	.level00 {
		background-color: #182c43 !important;
	}
	
	.level01 {
		background-color: #361b1b !important;
	}
	
	.level02 {
		background-color: #223929 !important;
	}
	
	.level03 {
		background-color: #404129 !important;
	}
	
	.level04 {
		background-color: #4b4b56 !important;
	}
}

@-moz-document url-prefix("https://osca.hs-osnabrueck.de/NavPages/infothek.aspx") {
    /* TODO: Finish this */
	/* Folder Options */
	.ms-cui-topBar2, .ms-cui-tabBody {
		background-color: #282828;
		border-color: #474747;
	}
	#Ribbon > div.ms-cui-ribbonTopBars > div.ms-cui-topBar2 {
		border-color: #474747 !important;
	}
	
	.ms-cui-tt > .ms-cui-tt-a {
		background-color: #353535 !important;
		border-color: #474747 !important;
	}
	
	.ms-cui-tt-s > .ms-cui-tt-a > .ms-cui-tt-span, .ms-cui-tt-a > .ms-cui-tt-span {
		color: #aeaeae !important;
	}
	
	.ms-cui-tooltip-body {
		background-color: #474747 !important;
	}
	
	.ms-cui-groupSeparator {
		border-color: #474747;
	}
}
